table.flight_table {
  box-sizing: border-box;
  border-collapse: collapse;
  margin: 0 auto;
  width: 600px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  width: 600px;
}

td:hover {
  background-color: #ddd;
}

td {
  cursor: pointer;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FBBF00;
  color: black;
}

.seat_map {
  width: 800px;
  margin: 0 auto;
}